@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
  padding: 0;
  margin: 0;
  height: auto;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* overflow-x: hidden; */
  background-color: rgb(224, 212, 212);
}

.custom-color {
  background-color: #ff04a3;
}

.nav-bar-color {
  /* background-color: rgb(255, 197, 253); */
  background-image: linear-gradient(to bottom, rgb(244, 248, 252), rgb(255, 255, 255));
}

main {
  margin-top: 70px;
}

.page-wrapper {
  position: relative;
  background-image: linear-gradient(to bottom, rgb(253, 230, 138), rgb(255, 249, 180)); /* Gradient from yellow to white */
  min-height: 100vh;
  margin: 10px;
}


::selection {
  background-color: #e847f3d4;
  color: #cfe50e;
}

@font-face {
  font-family: 'Sparky';
  src: url('/Sparky.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-family: 'CustomFont'; /* Apply custom font to h1, fallback to system sans-serif font */
}