@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
  padding: 0;
  margin: 0;
  height: auto;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  background-color: white;
}

main {
  margin-top: 70px;
}

.page-wrapper {
  position: relative;
  background-color: #FFC0CB;
  min-height: 100vh;
}

::selection {
  background-color: #e847f3d4;
  color: #cfe50e;
}