@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
  padding: 0;
  margin: 0;
  height: auto;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* overflow-x: hidden; */
  background-color: rgb(224, 212, 212);
}

.blob {
  background-color: #ff04a3;
  border-radius: 100%;
  opacity: 0.2;
}

.custom-color {
  background-color: #ff04a3;
}

.pdf-component-background-color {
  background-color: #fbfae3;
}

.gradient-div {
  background-image: linear-gradient(to top, rgba(255, 191, 175, 0.3), rgba(219, 219, 219, 0.4));
  margin-left: 30px;
  border-radius: 20px;
  border: 2px solid rgb(255, 250, 250);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.nav-bar-color {
  /* background-color: rgb(255, 197, 253); */
  background-image: linear-gradient(to bottom, rgb(244, 248, 252), rgb(255, 255, 255));
}

main {
  margin-top: 70px;
}

.page-wrapper-home {
  position: relative;
  background-image: linear-gradient(to bottom, rgb(253, 230, 138), rgb(255, 249, 180)); /* Gradient from yellow to white */
  min-height: 100vh;
  margin: 10px;
}

.page-wrapper-about {
  position: relative;
  background-image: linear-gradient(to bottom, rgb(253, 230, 138), rgb(255, 249, 180)); /* Gradient from yellow to white */
  min-height: 100vh;
  margin: 10px;
}

::selection {
  background-color: #e847f3d4;
  color: #cfe50e;
}

@font-face {
  font-family: 'Sparky';
  src: url('/Sparky.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-family: 'CustomFont'; /* Apply custom font to h1, fallback to system sans-serif font */
}